.Note1{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 185px;
    top: 64px;
    border-radius: 50%;
}

.Input1{
    border-radius: 10px 10px 10px 10px;
    
}

.Aux{
    position: absolute;
    margin-left: 215px;
    top: 64px;
}

.Note2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    margin-left: 181px;
    bottom: -20px;
}

body{
    background-color: white;
    color: black;

}

.Title1{
    background-color: grey;
    color: black;
    border-style: groove;
    border-color: black;
    text-align: center;
    height: 21px;
    width: 200px;
    margin-bottom: -44px;
}

